<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <string>metadata</string>
    <dict>
      <key>bundle-identifier</key>
      <string>com.vedas.SDK GTSR-services</string>
      <key>AppName</key>
      <string>vedas sdk</string>
      <key>AppKey</key>
      <string>SG1p33t5Tu</string>
      <key>SecretKey</key>
      <string>JdIkYHaXCsDGfKtU</string>
      <key>AppStoreId</key>
      <string>www.playsrote.Spectrochip-services.ipa</string>
    </dict>
  </array>
</plist>